.Loader {
  --size: 75px;
  --animation-duration: 1000ms;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;

  div {
    width: calc(var(--size) / 12);
    height: 80%;
    background: var(--clr-spinner);
    animation: spinner1 var(--animation-duration) ease-in-out infinite;

    @keyframes spinner1 {
      50% {
        transform: scaleY(0.25);
      }
    }
  }

  div:nth-child(1) {
    --clr-spinner: var(--mainBorder-color);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }

  div:nth-child(2) {
    --clr-spinner: var(--mainBorder-color);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  div:nth-child(3) {
    --clr-spinner: var(--mainBorder-color);
    animation-delay: calc(var(--animation-duration) / 10 * -2);
  }

  div:nth-child(4) {
    --clr-spinner: var(--mainBorder-color);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  div:nth-child(5) {
    --clr-spinner: var(--mainBorder-color);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }
}
