.alert {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--border-color);
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  font-size: 1rem;
}
