.note {
  border: 2px solid var(--mainBorder-color);
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--mainBorder-color);
  color: var(--text-color);
}

.header {
  padding: 5px 10px;
}

.body {
  padding: 15px;
}

.panel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottomButtons {
  margin-top: 20px;

  button + button {
    margin-left: 15px;
  }

  a {
    margin-left: 15px;
  }
}

@media (max-width: 360px) {
  .bottomButtons {
    button {
      font-size: 0.9rem;
    }

    button + button {
      margin-left: 10px;
    }
  }
}
