@import '../../../assets/styles/vars';

.button {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $border-color;
  color: $text-color;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  transition: 0.3s;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
  }
}

  .success {
    border: 1px solid $base-color2;
    background-color: $base-color2;
    color: #fff;

    &:focus, &:hover {
      border: 1px solid #02a510;
      background-color: #02a510;
    }

    &:active {
      box-shadow: inset 2px 2px 2px #006609;
    }
  }

  .secondary {
    border: 1px solid $border-color;
    background-color: $secondary-color;

    &:focus, &:hover {
      background-color: #fff;
    }

    &:active {
      box-shadow: inset 2px 2px 2px $border-color;
    }
  }

  .deleteIcon, .btnIcon {
    border: 1px solid $border-color;
    background-color: #fff;
    box-shadow: none;
    padding: 5px 5px 4px 5px;
    color: $text-color;
    font-size: 1.2rem;

    &:active {
      transform: scale(0.85);
    }
  }

  .deleteIcon {
    &:hover, &:focus {
      color: $danger-color;
    }

    &:active {
      color: $danger-color;
    }
  }

  .btnIcon {
    &:hover, &:focus {
      color: $base-color2;
    }

    &:active {
      color: $base-color2;
    }
  }

  .danger {
    border: 1px solid $danger-color;
    background-color: $danger-color;
    color: #fff;
    
    &:focus, &:hover {
      border: 1px solid #d43c00;
      background-color: #d43c00;
    }

    &:active {
      box-shadow: inset 2px 2px 2px #992c00;
    }
  }
