@import '../../../assets/styles/vars';

.link {
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $border-color;
  color: $text-color;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  transition: 0.3s;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
  }
}

.danger {
  border: 1px solid $danger-color;
  background-color: $danger-color;
  color: #fff;
  
  &:focus, &:hover {
    border: 1px solid #d43c00;
    background-color: #d43c00;
  }

  &:active {
    box-shadow: inset 2px 2px 2px #992c00;
  }
}

.add {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 50px;
  margin-bottom: 15px;
  padding: 15px 40px;
  width: fit-content;
  font-weight: 700;

  &:hover, &:focus {
    outline: none;
    color: $base-color2;
  }

  &:active {
    box-shadow: inset 2px 2px 2px $border-color;
  }

  span {
    margin-right: 10px;
    color: $base-color2;
  }
}