.header {
  background: linear-gradient(90deg, var(--base-color2), var(--base-color1));
  padding: 7px 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 1em;
  color: #fff;
}