@import '../../assets/styles/vars';

.header {
  background: linear-gradient(90deg, $base-color2, $base-color1);
}

.inner {
  padding: 0 10px;
}

.logo {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 1.7rem;
  color: #fff;
}