.Input {
  margin-bottom: 15px;

  input {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--border-color);
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
}

.labelText {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  &.invalid {
    color: var(--danger-color);
  }
}

.error {
  color: var(--danger-color);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}