@import "./assets/styles/iconFont";
@import "./assets/styles/vars";

html {
  box-sizing: border-box;
  font-size: 17px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

*,
*::after,
*:before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
  @extend %grid-container;
}

main {
  grid-area: main;
  @extend %grid-container;
  padding: 15px 0;
}

.app.dark {
  --base-color1: #121212;
  --base-color2: #121212;
  --text-color: #fff;
  --border-color: #777;
  --bg-color: #1e222d;
  --hover-color: #121212;
  --addBtn-color: #000;
  --toggle-color: #ccc;
  --mainBorder-color: #777;
  --authBg-color: #1e222d;
  --done-opacity: 40%;
}

main {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0 10px;
}
