:root {
  --base-color1: #00f813;
  --base-color2: #0fc41f;
  --text-color: #333;
  --border-color: #ccc;
  --danger-color: #ff4700;
  --bg-color: #fff;
  --hover-color: #eee;
  --success-color: #0fc41f;
  --addBtn-color: #ccc;
  --toggle-color: #fff;
  --mainBorder-color: #0fc41f;
  --authBg-color: #e5e5e5;
}

%grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(320px, 1000px) 1fr;
}
